<div class="main-cntr">
<h1 class="h1">Registration Form</h1>
<div  class ="container">
<form [formGroup]="loginForm" (ngSubmit)="loginUser()">
  <input class="inputdiv" type="text" placeholder="Enter Your Full Name" name="fullName" formControlName="fullName">
  <br>
  <span style="color: red;" *ngIf="fullName && fullName.invalid && fullName.touched">This field is not valid</span>
  <br>
  <input class="inputdiv" type="text" placeholder="Enter Usernam" name="userName" formControlName="userName">
  <br>
  <span style="color: red;" *ngIf="userName && userName.invalid && userName.touched">This field is not valid</span>
  <br>
  <input class="inputdiv" type="password" placeholder="Enter Password" name="password" formControlName="password">
  <br>
  <span style="color: red;" *ngIf="password && password.invalid && password.touched">This field is not valid</span><br>
  <div class="checkBox">
    <input class="form-check-input" type="checkbox" value="" id="CheckBox">
    <label class="form-check-label"  for="CheckBox">
      Accept terms and contition
    </label>
  </div>
  <button  [disabled]="loginForm.invalid">Login</button>
</form>
</div>
</div>